* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: system-ui, sans-serif;
}

#searchContainer {
  position: absolute;
  z-index: 30;
  top: 20px;
  right: 20px;
  display: flex;
  gap: 6px;
  padding: 8px;
  background: rgba(0,0,0,0.5);
  border-radius: 8px;
  backdrop-filter: blur(6px);
}

#searchContainer input,
#searchContainer button {
  padding: 8px 10px;
  font-size: 14px;
  border-radius: 4px;
  border: none;
}

#searchContainer input {
  width: 200px;
}

#searchContainer button {
  background: #39ff14;
  color: black;
  cursor: pointer;
}


#infoPanel {
  position: absolute;
  top: 80px;
  left: 20px;
  width: 200px;
  background: rgba(72, 173, 232, 0.142);
  color: rgb(247, 248, 245);
  padding: 14px;
  border-radius: 8px;
  font-family: sans-serif;
  z-index: 20;
  backdrop-filter: blur(0.5px);
}

#infoPanel.hidden {
  display: none;
}

.flag {
  font-size: 48px;
  margin: 10px 0;
}

#closeInfo {
  position: absolute;
  top: 6px;
  right: 8px;
  background: none;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

#searchContainer,
#infoPanel {
  max-width: min(90vw, 320px);
}

#title {
  position: absolute;
  color: white;
  left: 10px;
}

.help-link {
  color: white;
}

#searchMessage {
  position: absolute;
  font-size: 14px;
  top: 1px;
  left: 20px;
  pointer-events: none
}

#searchMessage.error {
  color: red;
}

#searchMessage.success {
  color: #39ff14;
}

#searchMessage.hidden {
  display: none;
}


@media (max-width: 600px) {
  #searchContainer {
    top: auto;
    bottom: 16px;
    right: 50%;
    transform: translateX(50%);
  }

  #infoPanel {
    top: auto;
    bottom: 150px;
    left: 50%;
    transform: translateX(-50%);
  }
  #title {
    top: 10px;
    left: 35%;
    transform: translate(-50%);
  }
}


